---
import Layout from "../layouts/Layout.astro";
import CarouselSection from "../sections/CarouselSection.astro";
import Hero from "../sections/Hero.astro";
import DrinkVariationBanner from "../sections/DrinkVariationBanner.astro";
import BenefitsSection from "../sections/BenefitsSection.astro";
import MailingList from "../sections/MailingList.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="SODIPOP">
  <main>
    <Hero />
    <CarouselSection />
    <BenefitsSection />
    <MailingList />
    <DrinkVariationBanner />
  </main>
  <Footer />
</Layout>

<style is:global>
  main {
    overflow: hidden;
  }

  div.divider {
    width: 100%;
    height: 1px;
    margin: 0.85rem 0;
  }

  h1,
  h2,
  h3 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    margin: 0;
  }
  h1 {
    font-size: clamp(31pt, 25pt + 2vw, 62pt);
    color: #fff;
  }

  h2 {
    font-size: 28pt;
    color: #fff;
  }

  h3 {
    font-size: 28pt;
    color: #fff;
  }

  h4 {
    font-size:18pt;
  }

  p {
    font-family: "Inter-Regular", sans-serif;
    font-size: 18pt;
  }
  button.primary {
    background: #ffffff;
    border-radius: 0.35rem;
    padding: 0.8em 2em;
    font-size: 1.35rem;
    line-height: 1.35rem;
    cursor: pointer;
  }
  button.primary:hover {
    background: #ffffff;
  }
  button.primary:active {
    transform: translateY(2px);
    box-shadow: black 3px 3px 1px;
  }

  section.half-n-half {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  section.half-n-half .content {
    width: 50%;
    max-width: 50rem;
  }

  .half-n-half .img-container {
    position: relative;
    /* height: 100%; */
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .half-n-half .img-container img {
    width: 100%;
    max-width: fit-content;
  }

  section.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @media only screen and (max-width: 1200px) {
    section.half-n-half {
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
    }
    section.half-n-half .content {
      max-width: 100%;
      width: 90%;
    }

    .half-n-half .img-container {
      order: 1;
      max-height: 50%;
    }
    .half-n-half .text-container {
      order: 2;
      min-height: 50%;
      height: fit-content;
    }
  }
</style>
