---
import Bubbles from "../components/Bubbles.astro";
import Layout from "../layouts/Layout.astro";
import Canvas3D from "../components/Canvas3D.jsx";
import CarouselSection from "../layouts/CarouselSection.astro";
---

<Layout title="Tropical Tango">
  <main>
    <section class="hero half-n-half">
      <div class="content text-container">
        <h1>Tropical Tango</h1>
        <p>
          Experience the perfect harmony of succulent watermelon and luscious
          mango in every refreshing sip.
        </p>
        <button>Try Tropical Tango Today</button>
      </div>
      <div class="content img-container">
        <Canvas3D client:load />
        <div class="gradient"></div>
      </div>
      <Bubbles
        delay="0.0s"
        offset={{
          big: "15vw 0vh",
          medium: "34vw 10vh",
          small: "0vw 20vh",
        }}
      />
      <Bubbles
        delay="1.9s"
        offset={{
          big: "-6vw 10vh",
          medium: "12vw -10vh",
          small: "23vw 0vh",
        }}
      />
      <Bubbles
        delay="3.0s"
        offset={{
          big: "30vw -20vh",
          medium: "0vw 0vh",
          small: "26vw 5vh",
        }}
      />
    </section>
    <section class="variation2 half-n-half">
      <div class="img-container">
        <img
          src="https://placedog.net/200/300?random"
          alt="OrangeMocha Magic"
        />
      </div>
      <div class="text-container">
        <h2>Savor the Magic</h2>
        <p>
          Embrace the enchantment and surrender your senses to the symphony of
          orange and chocolate. Whether you're seeking a moment of indulgence or
          a delightful pick-me-up, OrangeMocha Magic is the perfect companion to
          add a touch of magic to your day.
        </p>
        <button>Discover Now</button>
      </div>
    </section>
    <section class="interlude center">
      <h2>Embrace the enchantment and surrender your senses</h2>
      <p>
        Discover the enchantment today and embark on a journey of pure flavor
        bliss that will leave you craving more.
      </p>
      <div class="three-columns">
        <div class="icons-col">
          <div class="row left">
            <div class="icon-container"><span class="icon">😂</span></div>
            <div class="text-container">
              <h3>Enjoy!</h3>
              <p>I am just testing some copy here!</p>
            </div>
          </div>
          <div class="row left">
            <div class="icon-container"><span class="icon">🍏</span></div>
            <div class="text-container">
              <h3>Enjoy!</h3>
              <p>I am just testing some copy here!</p>
            </div>
          </div>
          <div class="row left">
            <div class="icon-container"><span class="icon">🥱</span></div>
            <div class="text-container">
              <h3>Yooo, how good is this?</h3>
              <p>I am just testing some copy here!</p>
            </div>
          </div>
        </div>
        <img src="https://placedog.net/300/300?random" alt="Made Fresh" />
        <div class="icons-col">
          <div class="row right">
            <div class="icon-container"><span class="icon">🧉</span></div>
            <div class="text-container">
              <h3>Have fun in the sun!</h3>
              <p>I am just testing some copy here!</p>
            </div>
          </div>
          <div class="row right">
            <div class="icon-container"><span class="icon">🍏</span></div>
            <div class="text-container">
              <h3>Enjoy!</h3>
              <p>I am just testing some copy here!</p>
            </div>
          </div>
          <div class="row right">
            <div class="icon-container"><span class="icon">🤠</span></div>
            <div class="text-container">
              <h3>Yeehaw</h3>
              <p>I am just testing some copy here!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <CarouselSection />

  </main>
  <footer><p>Footer</p></footer>
</Layout>

<style is:global>
  .interlude .three-columns {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
  }

  .interlude .three-columns .icons-col {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .interlude .three-columns .icons-col .row {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  .row .icon-container {
    background: #17c3b2;
    padding: 0.5em;
    border-radius: 25%;
  }
  .row .icon-container .icon {
    font-size: 2rem;
  }

  .row .text-container {
    text-align: start;
  }
  .row .text-container p {
    margin: 0;
    font-size: 1.15rem;
  }

  h1,
  h2,
  h3 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    margin: 0;
  }
  h1,
  h2 {
    font-size: 5em;
    color: #ffcb77;
  }

  h2 {
    font-size: calc(2.5em + 1vw);
    color: #fef9ef;
  }

  p {
    font-size: 1.25rem;
  }
  button {
    background: #fef9ef;
    border: black 2px solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: black 5px 5px 1px;
  }
  button:hover {
    background: #ffffff;
  }
  button:active {
    transform: translateY(2px);
    box-shadow: black 3px 3px 1px;
  }

  section.half-n-half {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  section.half-n-half div {
    max-width: 50%;
  }
  @media only screen and (max-width: 768px) {
    section.half-n-half {
      flex-direction: column;
      justify-content: flex-start;
    }
    section.half-n-half div {
      max-width: 100%;
      max-height: 50vh;
    }

    .half-n-half .img-container {
      order: 1;
    }
    .half-n-half .text-container {
      order: 2;
    }
  }

  .half-n-half .img-container {
    position: relative;
    height: 100%;
  }

  .hero {
    background: #17c3b2;
    min-height: 100vh;
    overflow: hidden;
  }
  .hero img {
    rotate: -25deg;
  }
  .hero .content {
    z-index: 1;
  }
  .hero .content.text-container > * {
    width: fit-content;
    margin-left: 2rem;
  }
  .variation2 {
    min-height: 50vh;
    background: #ffcb77;
  }

  section {
    padding: 2em 1em;
  }

  section.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  section.interlude {
    min-height: 50vh;
    background: #b8ad95;
  }

  footer {
    height: 200px;
    text-align: center;
  }
</style>
