---
const { delay = "0.0s", offset } = Astro.props;
const { big, medium, small } = offset;
---

<div class="big bubble"></div>
<div class="medium bubble"></div>
<div class="small bubble"></div>

<style define:vars={{ delay, big, medium, small }}>
  .bubble {
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    animation: floatBubble 6s cubic-bezier(0.21, 0.04, 1, 1) infinite,
      appearBubble 6s linear infinite;
    animation-delay: var(--delay);
  }

  .bubble.big {
    width: 60px;
    height: 60px;
    background: url("https://place-puppy.com/60x60?f=png");
  }
  .bubble.medium {
    width: 45px;
    height: 45px;
    background: url("https://place-puppy.com/45x45?f=png");
  }
  .bubble.small {
    width: 30px;
    height: 30px;
    background: url("https://place-puppy.com/30x30?f=png");
  }

  .bubble.big {
    translate: var(--big);
  }
  .bubble.medium {
    translate: var(--medium);
  }
  .bubble.small {
    translate: var(--small);
  }

  @keyframes floatBubble {
    0% {
      transform: translateY(25vh) scale(1);
    }
    100% {
      transform: translateY(-50vh) scale(2);
    }
  }

  @keyframes appearBubble {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
</style>
