---
const { name, image } = Astro.props;
const backgroundImage = `url("${image}")`;
---

<div class="slide">
  <div class="slide-element">
    <h3 class="slide-heading"><a href="#">{name}</a></h3>
  </div>
</div>

<style define:vars={{ backgroundImage }}>
  .slide-heading {
    position: absolute;
    top: 0.5em;
    width: 100%;
    font-size: 2.5em;
    color: #fff;
  }
  .slide-heading a {
    color: #fff;
    text-decoration: none;
    user-select: none;
  }
  .slide {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 0 0 calc(100% / 3);
    height: 40em;
    background-image: var(--backgroundImage);
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center center;
  }

  @media (max-width: 768px) {
    .slide {
      flex: 0 0 100vw;
    }
  }

  .slide-element {
    width: 100%;
    height: 100%;
  }
</style>
