---
import MainHeading from "../components/MainHeading.astro";
---

<section class="variation2 half-n-half">
  <div class="img-container content">
    <img src="/assets/products/three_flavors_promo.png" alt="OrangeMocha Magic" />
  </div>
  <MainHeading
    accentColor="#dc86ac"
    bodyTextColor="#87405f"
    body="Sweet Strawberry, Crispy Watermelon and Magic Mango are here to save your day! 😋"
    button="Shop Sodipop"
    >
    Sodipop offers <span class="accent-color">Three Tasty Pops</span>
  </MainHeading>
</section>

<style>
  .accent-color {
    color: #dc86ac;
  }
  p {
    color: #87405f;
  }
  .variation2 {
    min-height: 75vh;
    height: auto;
    background: #fbe1ec;
    padding-bottom: 3em;
  }
</style>
