---
import Canvas3D from "../components/Canvas3D.jsx";
---

<section class="hero half-n-half">
  <div class="content img-container">
    <Canvas3D client:load />
    <div class="gradient"></div>
  </div>
  <div class="content text-container">
    <span class="subheading font-brand accent-color">DID YOU KNOW THAT...</span>
    <div class="divider"></div>
    <h1 class="font-brand">
      SODIPOP IS LOVELY<br /> FOR THE <span class="accent-color">SOUL</span>
    </h1>
    <p class="heading-body-text">
      Sodipop guarantees you will have a refreshing, tasty and lovely day. Every
      day! 🍓
    </p>
    <button class="primary drop-shadow border accent-color font-body"
      ><b>Shop Sodipop</b></button
    >
    <div class="divider"></div>
    <p class="campaign-text font-flavor">25% off for a limited time!</p>
    <div class="divider"></div>
  </div>
  <!-- <Bubbles
    delay="2.0s"
    offset={{
      big: "-25vw -5vh",
      medium: "-34vw 5vh",
      small: "-24vw 20vh",
    }}
  />
  <Bubbles
    delay="0.0s"
    offset={{
      big: "15vw 0vh",
      medium: "34vw 10vh",
      small: "0vw 20vh",
    }}
  />
  <Bubbles
    delay="1.9s"
    offset={{
      big: "-6vw 10vh",
      medium: "12vw -2vh",
      small: "23vw 0vh",
    }}
  />
  <Bubbles
    delay="3.0s"
    offset={{
      big: "30vw -4vh",
      medium: "0vw 0vh",
      small: "26vw 5vh",
    }}
  /> -->
</section>

<style>
  .accent-color {
    color: #dc86ac;
  }
  p {
    color: #87405f;
  }
  .hero {
    min-height: 100vh;
    overflow: hidden;
  }
  .hero h1 {
    color: #fff;
    line-height: 1em;
  }
  .hero .text-container .subheading {
    font-size: 1.8em;
    line-height: 1.2em;
  }

  .hero .text-container .heading-body-text {
    max-width: 30em;
  }

  p.campaign-text {
    transform: rotate(350deg) translate(25%, 5%);
  }
  .hero .content {
    z-index: 1;
  }
  .hero .content.text-container {
    margin: 0 2vw;
  }
  .hero .content.text-container > * {
    width: fit-content;
  }

  button.primary {
    background: #ffffff;
    border-radius: 0.35rem;
    padding: 0.8em 2em;
    font-size: 1.35rem;
    line-height: 1.35rem;
    cursor: pointer;
  }
  button.primary:hover {
    background: #f5f5f5;
  }
  button.primary:active {
    transform: translateY(2px);
    box-shadow: #dc86ac 3px 3px 2px;
  }

  .border {
    border: #dc86ac 2px solid;
  }

  .drop-shadow {
    box-shadow: #dc86ac 5px 5px 1px;
  }

  .hero .img-container {
    width: 100vw;
    height: 75vh;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  @media only screen and (max-width: 1200px) {
    .hero .img-container {
      height: 45vh;
      height: 45svh;
    }
    p.campaign-text {
      transform: rotate(350deg) translate(0, 5%);
    }
  }
</style>
