---
import MainHeading from "../components/MainHeading.astro";
---

<section class="half-n-half">
  <MainHeading
    body="Sodipop guarantees you will have a refreshing, tasty and lovely day. Every day! ðŸ‰"
    button="Read More..."
    campaign=""
    textAlign=""
    accentColor="#8D9512"
    bodyTextColor="#535710"
  >
    Sodipop is also lovely for the <span class="accent-color">body</span>
  </MainHeading>
  <div class="content img-container">
    <div class="benefits-stamp-container">
      <div class="benefits-stamp accent-color">
        <span class="x-icon">â¨‚</span>
        <p class="font-brand">NONE OF THEM PRESERVATIVES</p>
      </div>
      <div class="benefits-stamp accent-color">
        <span class="x-icon">â¨‚</span>
        <p class="font-brand">NONE OF THEM PRESERVATIVES</p>
      </div>
      <div class="benefits-stamp accent-color">
        <span class="x-icon">â¨‚</span>
        <p class="font-brand">NONE OF THEM PRESERVATIVES</p>
      </div>
      <div class="benefits-stamp accent-color">
        <span class="x-icon">â¨‚</span>
        <p class="font-brand">NONE OF THEM PRESERVATIVES</p>
      </div>
      <div class="benefits-stamp accent-color">
        <span class="x-icon">â¨‚</span>
        <p class="font-brand">NONE OF THEM PRESERVATIVES</p>
      </div>
      <div class="benefits-stamp accent-color">
        <span class="x-icon">â¨‚</span>
        <p class="font-brand">NONE OF THEM PRESERVATIVES</p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #dee971;
    height: 90vh;
  }
  .accent-color {
    color: #8d9512;
  }

  .body-color {
    color: #535710;
  }

  .benefits-stamp-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
    font-size: min(calc(0.5em + 0.5vw), calc(1em));
    max-width: 52em;
  }

  .benefits-stamp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e9f57d;
    padding: 2em;
    width: 12em;
    height: 12em;
    border-radius: 9999px;
    box-shadow: #8D9512 3px 3px 0px 2px;
  }

  .benefits-stamp .x-icon {
    font-size: 3em;
  }
  .benefits-stamp p {
    width: 9em;
    font-size: 1.2em;
    line-height: 1.8rem;
    margin: 0;
  }
</style>
