---
---

<section class="variation2 half-n-half">
  <div class="img-container content">
    <img src="https://placedog.net/500/500?id=126" alt="OrangeMocha Magic" />
  </div>
  <div class="text-container content">
    <h2>Savor the Magic</h2>
    <p>
      Embrace the enchantment and surrender your senses to the symphony of
      orange and chocolate. Whether you're seeking a moment of indulgence or a
      delightful pick-me-up, OrangeMocha Magic is the perfect companion to add a
      touch of magic to your day.
    </p>
    <button class="primary">Discover Now</button>
  </div>
</section>

<style>
  .variation2 {
    min-height: 75vh;
    height: auto;
    background: #ffcb77;
  }
</style>
