<section class="final-words center">
    <div class="divider" />
    <div>
        <h3>
            all-in-one web framework designed for speed.
            <br>
            Proven performance best practices
        </h3>
    </div>
    <div class="divider" />
    <img src="/assets/products/CrispyWaterMelon_small.png" />
</section>


<style>
    section.final-words {
        background: linear-gradient(rgb(255, 80, 80), rgb(113, 255, 137));
        height: 100vh;
        text-transform: uppercase;
    }
</style>