<section class="final-words center">
    <div>
        <h3>
            Astro is the all-in-one web framework designed for speed.
        </h3>
        <p>
            Astro combines decades of proven performance best practices with the DX improvements of the component-oriented era. Ship less JavaScript, get better results.
        </p>
    </div>
</section>


<style>
    section.final-words {
        background: linear-gradient(rgb(255, 80, 80), rgb(113, 255, 137));
        height: 100vh;
    }
</style>