---
import Bubbles from "../components/Bubbles.astro";
import Canvas3D from "../components/Canvas3D.jsx";
---

<section class="hero half-n-half">
  <div class="content text-container">
    <h1>Tropical Tango</h1>
    <p>
      Experience the perfect harmony of succulent watermelon and luscious mango
      in every refreshing sip.
    </p>
    <button class="primary">Try Tropical Tango Today</button>
  </div>
  <div class="content img-container">
    <Canvas3D client:load />
    <div class="gradient"></div>
  </div>
  <Bubbles
    delay="2.0s"
    offset={{
      big: "-25vw -5vh",
      medium: "-34vw 5vh",
      small: "-24vw 20vh",
    }}
  />
  <Bubbles
    delay="0.0s"
    offset={{
      big: "15vw 0vh",
      medium: "34vw 10vh",
      small: "0vw 20vh",
    }}
  />
  <Bubbles
    delay="1.9s"
    offset={{
      big: "-6vw 10vh",
      medium: "12vw -2vh",
      small: "23vw 0vh",
    }}
  />
  <Bubbles
    delay="3.0s"
    offset={{
      big: "30vw -4vh",
      medium: "0vw 0vh",
      small: "26vw 5vh",
    }}
  />
</section>

<style>
  .hero {
    background: #17c3b2;
    height: 100vh;
    overflow: hidden;
  }
  .hero img {
    rotate: -25deg;
  }
  .hero .content {
    z-index: 1;
  }
  .hero .content.text-container {
    margin: 0 2vw;
  }
  .hero .content.text-container > * {
    width: fit-content;
  }

  @media only screen and (max-width: 1200px) {
  }
</style>
