---
import wavyTransition from "/assets/wavy-transition-1.svg?raw";
import MainHeading from "../components/MainHeading.astro";
---

<section class="mailing-list-wrapper">
  <div class="wavy-transition top">
    <Fragment set:html={wavyTransition} />
  </div>
  <div class="mailing-list-content">
    <MainHeading
      subheading="Now is the best time to..."
      textAlign="center"
      body="Our mailing list helps you stay on top of the newest taste bud enhancing drinks. Not to even mention healthy! 😋"
      accentColor="#9F1A18"
      bodyTextColor="#9F1A18"
    >
      JOIN OUR MAILING LIST
    </MainHeading>
    <div class="divider"></div>
    <div class="mailing-list-form">
      <input
        class="border"
        type="email"
        placeholder="YesIWantGoodies@sodipop.com"
      />
      <div class="divider"></div>
      <button
        type="submit"
        class="primary drop-shadow border accent-color font-body"
        ><b>Join Newsletter</b></button
      >
    </div>
    <div class="divider"></div>
    <p class="flavor-text accent-color font-flavor">
      Never spam! Only goodies for you!
    </p>
  </div>
  <div class="wavy-transition bottom">
    <Fragment set:html={wavyTransition} />
  </div>
  <div class="fruits-background left">
    <img src="/assets/bubble.png" />
    <img src="/assets/bubble.png" />
    <img src="/assets/bubble.png" />
  </div>
  <div class="fruits-background right">
    <img src="/assets/bubble.png" />
    <img src="/assets/bubble.png" />
    <img src="/assets/bubble.png" />
  </div>
</section>

<style>
  section.mailing-list-wrapper {
    position: relative;
    background: linear-gradient(
      180deg,
      rgb(222, 233, 113) 0%,
      rgb(222, 233, 113) 49%,
      rgb(251, 225, 236) 50%,
      rgb(251, 225, 236) 100%
    );
  }
  .accent-color {
    color: #9f1a18;
  }
  .mailing-list-content {
    background: #ff5e5b;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mailing-list-content * {
    z-index: 1;
  }
  .mailing-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mailing-list-form input {
    width: 75vw;
    max-width: 30em;
    height: 3rem;
    font-size: 1.25rem;
    text-align: center;
  }
  .mailing-list-form input::placeholder {
    color: #e9adac;
  }

  .wavy-transition.top {
    transform: translateY(1rem);
  }
  .wavy-transition.bottom {
    transform: rotate(180deg) translateY(1rem);
  }
  p.flavor-text {
    transform: rotate(350deg);
  }

  .border {
    border: #9f1a18 2px solid;
    border-radius: 0.3rem;
  }

  .drop-shadow {
    box-shadow: #9f1a18 5px 5px 1px;
  }

  .fruits-background.left {
    position: absolute;
    top: 30%;
    left: 5%;
  }

  .fruits-background.right {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: scaleX(-1);
  }

  .fruits-background img {
    width: 8em;
    position: absolute;
    z-index: 0;
  }
  .fruits-background img:nth-child(1) {
    top: 0vh;
    left: 5vw;
  }
  .fruits-background img:nth-child(2) {
    top: calc(1.5em + 15vh);
    left: 10vw;
  }
  .fruits-background img:nth-child(3) {
    top: calc(3em + 30vh);
    left: 5vw;
  }
  @media only screen and (max-width: 1200px) {
    .fruits-background {
        display: none;
    }
  }
  
</style>
